rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /risks/{docId} {
      allow read, write: if isSignedIn();
    }
    match /risks/{path=**} {
      allow read, write: if isSignedIn();
    }

    match /issues/{docId} {
      allow read, write: if isSignedIn();
    }
    match /issues/{path=**} {
      allow read, write: if isSignedIn();
    }

    match /products/{docId} {
      allow read: if isSignedIn();
    }
    match /products/{path=**} {
      allow read: if isSignedIn();
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }
     match /users/{path=**} {
      allow read: if isSignedIn();
    }
  }
}